/* Pagina Social */

 .div-social {
     
     display: flex;
     flex-direction: column;
     justify-content: center;
    }

 .texto-social {
     background-color: seashell;
    }

 .disclaimer { display:none}

/* Fin pagina Social */