/* Pagina Tips */

.tips-container {
    display: flex;
    justify-content: center;
}

.textos-tips {
    //width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tips-basicos {
    background-color: seashell;    
}

.tips-comunidad {
    background-color: #B8FFF9;
}

 .disclaimer { display:none}

/* Fin pagina Tips */