/* body */


body {
    background-color: #040303;
}

a {
    text-decoration: none;
}


p {
    color: #CB9B42;

    font-family: 'Libre Baskerville', serif;
    font-family: 'The Nautigal', cursive;

}

strong {
    display: block;
}

/* Fin body */